:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #fff;
}


.qr {
  image-rendering: pixelated;
  background-color: #fff;
  padding: 10px;
  width: 80vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
}

.drop {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  
  background: #f08;
  animation: 1s  pulse;
  animation-fill-mode: forwards;

}

@keyframes pulse {
  from {
    transform: translate(-50%, -50%) scale(0.1);
  }

  to {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}